* {
  padding: 0;
  margin: 0;
}
.img{
  background-image: url('/src/components/Data/SpeakersPics/book-1822474\ \(1\).jpg')
}



.protest-riot-regular {
  color: #627254;
  font-family: sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.1em;
  text-decoration: underline;
  text-decoration-color: #76885B;
}

.roboto-slab-iq {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


h2 {
  margin: 0;
  padding: 0;
  color: black;
}

